.topnav {
	font-size: 13px;
	font-family: Arial, sans-serif;
	display: block;
	padding-top: 10px;

}


.topnav ul {
	list-style-type: none;
	display: block;
	margin: 0px;
	padding: 0px;

}

.topnav li{
		list-style-type: none;
		display: inline-block;	
		float:right;
}

.topnav a:link {
	color:gray;
	text-decoration: none;
}

.topnav a:hover{
	color: black;
	text-decoration: underline;
	cursor: pointer;
}

#profile{
	margin: 5px 10px 10px 10px;
}

.notbutton {
	margin: 10px 10px 10px 10px;
	height: 20px;
	width: 20px;
	background: url('assets/notifications.png');
}


.notbutton:hover{
	margin: 10px 10px 10px 10px;
	height: 20px;
	width: 20px;
	background: url('assets/not-hover.png');
}


.appbutton{
	margin: 12px 10px 10px 10px;
	height: 16px;
	width: 16px;
	background: url('assets/options.png');
}

.appbutton:hover{
	margin: 12px 10px 10px 10px;
	height: 16px;
	width: 16px;
	background: url('assets/options-hover.png');
}

#images{
	margin: 12px 10px 10px 10px;
}

#gmail{
	margin: 12px 10px 10px 10px;
}


.body {
	text-align: center;
	clear:both;

}

#logo {
	height:92px;
	padding-top: 130px;
	padding-bottom: 20px;

}

input[type=text]{
	height:28px;
	width:480px;
	background-color:white;
	background-image: url('assets/microphone.png');
	background-position: 95% 50%;
	background-repeat:no-repeat;
	border-radius: 2px;
	border: 1px solid #D3D3D3;
	box-shadow: 0px 2px 2px 1px rgba(0,0,0,.1);
	outline:none;
	font-size: 16px;
	font-family: Arial, sans-serif;
	padding:10px;
}

.button{
	height:40px;
	width:150px;
	color:#757575;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
    text-align:center;
    background-color:#F2F2F2;
    border:none;
    margin:30px 4px;
    border-radius: 2px;
    border: 1px solid #F2F2F2;

}

.button:hover {
	height:40px;
	width:150px;
	color: black;
	font-family: Arial, sans-serif;
	font-size: 13px;
	font-weight:bold;
    text-align:center;
    background-color:#F2F2F2;
    border:none;
    margin:30px 4px;
    border-radius: 2px;
    border: 1px solid #cccccc;
    box-shadow: 0px 1px 1px 1px rgba(0,0,0,.1);


}